<header>
    <nav class="md:px-20 z-50 w-full bg-white border-b border-gray-200 h-14">
        <div class="w-screen-xl flex flex-wrap items-center justify-between px-4 h-full">
            <a href="/" class="flex items-center">
                <img src="{{ url_for('static', filename='images/PUPLogo.png')}}" width="32" alt="myPUPQC" style="margin-right: 5px;"">
                <span class="self-center whitespace-nowrap font-semibold">PUPQC Extension Services Information System</span>
            </a>
            <div class="flex items-center md:order-2">
                {% if current_user.is_authenticated %}
                <button type="button" class="flex mr-3 text-sm rounded-full md:mr-0 focus:ring-4 focus:ring-gray-300" id="user-menu-button" aria-expanded="false" data-dropdown-toggle="user-dropdown" data-dropdown-placement="bottom">
                    <span class="sr-only">Open user menu</span>
                    <svg class="w-8 h-8 rounded-full" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M12 4a4 4 0 0 1 4 4a4 4 0 0 1-4 4a4 4 0 0 1-4-4a4 4 0 0 1 4-4m0 2a2 2 0 0 0-2 2a2 2 0 0 0 2 2a2 2 0 0 0 2-2a2 2 0 0 0-2-2m0 7c2.67 0 8 1.33 8 4v3H4v-3c0-2.67 5.33-4 8-4m0 1.9c-2.97 0-6.1 1.46-6.1 2.1v1.1h12.2V17c0-.64-3.13-2.1-6.1-2.1Z"/></svg>
                </button>
                <!-- Dropdown menu -->
                <div class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow" id="user-dropdown">
                    <ul class="py-2" aria-labelledby="user-menu-button">
                        <li>
                            <a href="{{ url_for('user.profile') }}" class="block px-4 py-2 text-sm">Profile</a>
                        </li>
                        <li>
                            <a href="#" class="block px-4 py-2 text-sm">Change Password</a>
                        </li>
                        <li>
                            <a href="{{ url_for('auth.logout') }}" class="block px-4 py-2 text-sm">Sign out</a>
                        </li>
                    </ul>
                </div>
                <button data-collapse-toggle="navbar-user" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200" aria-controls="navbar-user" aria-expanded="false">
                    <span class="sr-only">Open main menu</span>
                    <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
                    </svg>
                </button>
                {% else %}
                <a href="{{ url_for('auth.login') }}" class="font-semibold">Login</a>
                {% endif %}
            </div>
            {% if current_user.is_authenticated %}
            <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-user">
                <ul class="flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:border-0 md:bg-white">
                    <li>
                        <a href="/" class="block py-2 pl-3 pr-4 text-gray-700 rounded md:bg-transparent md:p-0" aria-current="page">Home</a>
                    </li>
                    <li>
                        <a href="{{ url_for('programs.programsList') }}" class="block py-2 pl-3 pr-4 text-gray-700 hover:text-black md:p-0 ">Programs</a>
                    </li>    
                    <li>      
                        <a href="#" class="block py-2 pl-3 pr-4 text-gray-700 hover:text-black md:p-0 ">Calendar</a>
                    </li>
                    <li>
                        <a href="{{ url_for('announcement.announcement') }}" class="block py-2 pl-3 pr-4 text-gray-700 hover:text-black md:p-0 ">Announcements</a>
                    </li>    
                </ul>
            </div>
            {% endif %}
        </div>
    </nav> 
</header>
{% if current_user.is_authenticated %}
<header class="">
    <nav class="md:px-20 z-50 w-full bg-white border-b border-gray-200 h-14">
        <div class="w-screen-xl flex flex-wrap items-center justify-between px-4 h-full">
            <a href="/" class="flex items-center">
                <img src="{{ url_for('static', filename='images/PUPLogo.png')}}" width="32" alt="myPUPQC" style="margin-right: 5px;"">
                <span class="self-center whitespace-nowrap font-semibold">PUPQC Extension Services Information System</span>
            </a>
            <div class="flex items-center md:order-2">
                {% if current_user.is_authenticated %}
                <button type="button" class="flex mr-3 text-sm rounded-full md:mr-0 focus:ring-4 focus:ring-gray-300" id="user-menu-button" aria-expanded="false" data-dropdown-toggle="user-dropdown" data-dropdown-placement="bottom">
                    <span class="sr-only">Open user menu</span>
                    <svg class="w-8 h-8 rounded-full" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M12 4a4 4 0 0 1 4 4a4 4 0 0 1-4 4a4 4 0 0 1-4-4a4 4 0 0 1 4-4m0 2a2 2 0 0 0-2 2a2 2 0 0 0 2 2a2 2 0 0 0 2-2a2 2 0 0 0-2-2m0 7c2.67 0 8 1.33 8 4v3H4v-3c0-2.67 5.33-4 8-4m0 1.9c-2.97 0-6.1 1.46-6.1 2.1v1.1h12.2V17c0-.64-3.13-2.1-6.1-2.1Z"/></svg>
                </button>
                <!-- Dropdown menu -->
                <div class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow" id="user-dropdown">
                    <ul class="py-2" aria-labelledby="user-menu-button">
                        <li>
                            <a href="{{ url_for('user.profile') }}" class="block px-4 py-2 text-sm">Profile</a>
                        </li>
                        <li>
                            <a href="#" class="block px-4 py-2 text-sm">Change Password</a>
                        </li>
                        <li>
                            <a href="{{ url_for('auth.logout') }}" class="block px-4 py-2 text-sm">Sign out</a>
                        </li>
                    </ul>
                </div>
                <button data-collapse-toggle="navbar-user" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200" aria-controls="navbar-user" aria-expanded="false">
                    <span class="sr-only">Open main menu</span>
                    <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
                    </svg>
                </button>
                {% else %}
                <a href="{{ url_for('auth.login') }}" class="font-semibold">Login</a>
                {% endif %}
            </div>
            {% if current_user.is_authenticated %}
            <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-user">
                <ul class="flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:border-0 md:bg-white">
                    <li>
                        <a href="/" class="block py-2 pl-3 pr-4 text-gray-700 rounded md:bg-transparent md:p-0" aria-current="page">Home</a>
                    </li>
                    <li>
                        <a href="{{ url_for('programs.programsList') }}" class="block py-2 pl-3 pr-4 text-gray-700 hover:text-black md:p-0 ">Programs</a>
                    </li>    
                    <li>      
                        <a href="#" class="block py-2 pl-3 pr-4 text-gray-700 hover:text-black md:p-0 ">Calendar</a>
                    </li>
                    <li>
                        <a href="{{ url_for('announcement.announcement') }}" class="block py-2 pl-3 pr-4 text-gray-700 hover:text-black md:p-0 ">Announcements</a>
                    </li>    
                </ul>
            </div>
            {% endif %}
        </div>
    </nav> 
    <div class="">
        <div class="">
            <div class="w-full md:flex md:w-auto md:order-1">
                <ul class="flex p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:border-0 md:bg-white">
                    <li class="">
                        <a class="" href="#" >
                            <span class=""><!-- Download SVG icon from http://tabler-icons.io/i/home -->
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l-2 0l9 -9l9 9l-2 0" /><path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" /><path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6" /></svg>
                            </span>
                            <span class="nav-link-title">
                                Home
                            </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="index.html" >
                            <span class="nav-link-icon d-md-none d-lg-inline-block"><!-- Download SVG icon from http://tabler-icons.io/i/checkbox -->
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 11l3 3l8 -8" /><path d="M20 12v6a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h9" /></svg>
                            </span>
                            <span class="nav-link-title">
                                Programs
                            </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="alumni.html" >
                            <span class="nav-link-icon d-md-none d-lg-inline-block"><!-- Download SVG icon from http://tabler-icons.io/i/ghost -->
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-users" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path d="M9 7m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0"></path>
                                    <path d="M3 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"></path>
                                    <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                                    <path d="M21 21v-2a4 4 0 0 0 -3 -3.85"></path>
                                </svg>                    </span>
                            <span class="nav-link-title">
                                Calendar
                            </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="comgov.html" >
                            <span class="nav-link-icon d-md-none d-lg-inline-block"><!-- Download SVG icon from http://tabler-icons.io/i/ghost -->
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-users" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path d="M9 7m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0"></path>
                                    <path d="M3 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"></path>
                                    <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                                    <path d="M21 21v-2a4 4 0 0 0 -3 -3.85"></path>
                                </svg>                    </span>
                            <span class="nav-link-title">
                                Announcements
                            </span>
                        </a>
                    </li>   
                </ul>
            </div>
        </div>
    </div>
</header>
{% endif %}
