{% extends 'admin/base.html' %}

{% block head %}
    <title>PUP-ESIS Beneficiaries</title>
    <!--Regular Datatables CSS-->
	<link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet">
	<!--Responsive Extension Datatables CSS-->
	<link href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('admin.static', filename='css/table_style.css') }}">  
{% endblock %}

{% block content %}
    {% include 'admin/components/sidebar.html' %}
    <div class="sm:ml-64 p-4">
        <!--Container-->
        <div class="container w-full md:w-4/5 xl:w-3/5  mx-auto px-2">
            <!--Title-->
            <h1 class="flex items-center font-sans font-bold break-normal text-indigo-500 px-2 py-4 text-xl md:text-2xl">
                Beneficiaries Record
            </h1>
            <!--Card-->
            <div id='recipients' class="p-8 mt-6 lg:mt-0 rounded shadow bg-white">
                <table id="beneficiaries" class="stripe hover" style="width:100%; padding-top: 1em;  padding-bottom: 1em;">
                    <thead>
                        <tr>
                            <th data-priority="1">First Name</th>
                            <th data-priority="2">Last Name</th>
                            <th data-priority="3">Contact Details</th>
                            <th data-priority="4">Gender</th>
                            <th data-priority="5">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for beneficiary in beneficiaries %}
                        <tr>
                            <td>{{ beneficiary.User.FirstName }}</td>
                            <td>{{ beneficiary.User.LastName }}</td>
                            <td>{{ beneficiary.User.ContactDetails }}</td>
                            <td>{{ beneficiary.User.Gender }}</td>
                            <td><a href="" class="bg-green-100 text-green-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded">View</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!--/Card-->
        </div>
	    <!--/container-->
    </div>
    
    <!-- jQuery -->
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<!--Datatables -->
	<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    <script>
        // $(document).ready(function(){
        //     const url = '';
        //     $('#users').DataTable({
        //         ajax:{
        //             url:url,
        //             dataSrc:''
        //         },
        //         columns:[
        //             {data: "ID"},
        //             {data: "Name"},
        //             {data: "Status"},
        //             {data: "Location"},
        //             {data: "Start Date"},
        //             {data: "End Date"},
        //         ],
        //         responsive: true
        //     }).columns.adjust()
        //     .responsive.recalc();
        // })

        $(document).ready(function() {

        var table = $('#beneficiaries').DataTable({
                responsive: true
            })
            .columns.adjust()
            .responsive.recalc()
        });
    </script>
{% endblock %}