{% extends 'admin/base.html' %}

{% block head %}
    <title>PUP-ESIS Announcement</title>
{% endblock %}

{% block content %}
<div class="sm:ml-72 md:mr-10 p-4 my-6 bg-white rounded-lg shadow-lg">
    <!-- Breadcrumb -->
    <nav class="flex px-5 py-3 mb-10 text-gray-700 border border-gray-200 rounded-lg bg-gray-50" aria-label="Breadcrumb">
        <a href="{{ url_for('admin.announcement' )}}" class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600">
            <svg class="w-3 h-3 mr-4"aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 5H1m0 0 4 4M1 5l4-4"></path>
            </svg>
        </a>
        <ol class="inline-flex items-center space-x-1 md:space-x-3">
            <li class="inline-flex items-center">
                <a href="{{ url_for('admin.announcement' )}}" class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600">
                    <svg class="w-3 h-3 mr-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 19">
                        <path d="M15 1.943v12.114a1 1 0 0 1-1.581.814L8 11V5l5.419-3.871A1 1 0 0 1 15 1.943ZM7 4H2a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2v5a2 2 0 0 0 2 2h1a2 2 0 0 0 2-2V4ZM4 17v-5h1v5H4ZM16 5.183v5.634a2.984 2.984 0 0 0 0-5.634Z"></path>
                    </svg>
                    Announcement
                </a>
            </li>
            <li aria-current="page">
                <div class="flex items-center">
                <svg class="w-3 h-3 mx-1 text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                </svg>
                <span class="ml-1 text-sm font-medium text-gray-500 md:ml-2">Create</span>
                </div>
            </li>
        </ol>
    </nav>
    <!-- ./breadcrumbs  -->
    <span class="text-lg font-semibold">Create Announcement</span>
    <form action="" method="post" class="mt-4">
        <div class="flex flex-col bg-white">
            {{ form.hidden_tag() }}
            {{ form.title.label(class="mb-2") }}
            {{ form.title(class="mb-4 shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5")}}
            {{ form.content.label(class=" mb-2") }}
            {{ form.content(class="mb-4 shadow-sm block w-full p-2.5")}}
            {{ form.project.label(class="mt-4  mb-2") }}
            {{ form.project(class="mb-4 shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5")}}
            <div class="flex mt-6">
                {{ form.publish(class="mr-4 w-fit text-white bg-blue-700 hover:bg-blue-800  font-medium rounded-lg text-sm px-5 py-2.5 text-center")}}
                {{ form.draft(class="w-fit text-white bg-gray-500 hover:bg-gray-600  font-medium rounded-lg text-sm px-5 py-2.5 text-center")}}
            </div>
        </div>
    </form>
    {{ ckeditor.load() }}
    {{ ckeditor.config(name='content') }}
</div>

{% endblock %}