{% extends 'admin/layout.html' %}

{% block head %}
    <title>PUP-ESIS Programs</title>
    <!--Regular Datatables CSS-->
	<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />
	<!--Responsive Extension Datatables CSS-->
	<link href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('admin.static', filename='css/table_style.css') }}">  
{% endblock %}

{% block content %}
    
    <div class="p-4 sm:ml-64 mt-2">
        <!--Container-->
        <div class="container w-full md:w-4/5 xl:w-3/5  mx-auto px-2">
            <!--Card-->
            <div id='recipients' class="p-8 mt-6 lg:mt-0 rounded shadow bg-white">
                <div class="flex flex-col md:flex-row justify-between items-center">
                    <!--Title-->
                    <h1 class="flex items-center font-sans font-bold break-normal text-indigo-500 px-2 py-4 text-xl md:text-2xl">
                        Extension Programs
                    </h1>
                    <button type="button" data-modal-target="addProjectModal" data-modal-show="addProjectModal" class="flex items-center justify-center text-white bg-blue-600 hover:bg-blue-700 font-medium rounded-lg text-sm px-4 py-2 focus:ring-0 focus:ring-offset-0">
                        <svg class="h-3.5 w-3.5 mr-2" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                            <path clip-rule="evenodd" fill-rule="evenodd" d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" />
                        </svg>
                        Add program
                    </button>
                </div>
                <table id="projects" class="stripe hover" style="width:100%; padding-top: 1em;  padding-bottom: 1em;">
                    <thead>
                        <tr>
                            <th data-priority="1">Name</th>
                            <th data-priority="2">Agenda</th>
                            <th data-priority="3">Status</th>
                            <th data-priority="4">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for program in programs %}
                        <tr>
                            <td>{{ program.Name }}</td>
                            <td>{{ program.Agenda }}</td>
                            <td>{{ program.Status }}</td>
                            <td>
                                <button data-modal-target="viewProjectModal{{program.ExtensionProgramId}}" data-modal-show="viewProjectModal{{program.ExtensionProgramId}}" class="font-medium text-xl text-blue-600 md:mr-2 px-2.5 py-0.5"><iconify-icon icon="ph:eye"></iconify-icon></button>
                                <button data-modal-target="editProjectModal{{program.ExtensionProgramId}}" data-modal-show="editProjectModal{{program.ExtensionProgramId}}" class="font-medium text-xl text-gray-500 md:mr-2 px-2.5 py-0.5"><iconify-icon icon="bx:edit"></iconify-icon></button>
                                <button data-modal-target="deleteModal{{ program.ExtensionProgramId }}" data-modal-show="deleteModal{{ program.ExtensionProgramId }}" class="font-medium text-xl text-gray-500 md:mr-2 px-2.5 py-0.5"><iconify-icon icon="ion:trash-outline"></iconify-icon></button>
                            </td>
                        </tr>
                        {% include 'admin/components/edit_ext_program_modal.html' %}
                        {% include 'admin/components/view_ext_program_modal.html' %}
                        {% include 'admin/components/delete_modal.html' %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!--/Card-->
        </div>
        <!--/container-->
    </div>
    {% include 'admin/components/add_ext_program_modal.html' %}
    

    
    <!-- jQuery -->
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<!--Datatables -->
	<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>
	<script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
	<script src="https://cdn.datatables.net/fixedcolumns/4.3.0/js/dataTables.fixedColumns.min.js"></script>
	
    <script>
        // $(document).ready(function(){
        //     const url = '';
        //     $('#users').DataTable({
        //         ajax:{
        //             url:url,
        //             dataSrc:''
        //         },
        //         columns:[
        //             {data: "ID"},
        //             {data: "Name"},
        //             {data: "Status"},
        //             {data: "Location"},
        //             {data: "Start Date"},
        //             {data: "End Date"},
        //         ],
        //         responsive: true
        //     }).columns.adjust()
        //     .responsive.recalc();
        // })

        $(document).ready(function() {
            var table = $('#projects').DataTable({
                    responsive: true,
                    columnDefs: [
                        { width: 100, targets: 2 },
                        { width: 150, targets: 3 }
                    ],
                    fixedColumns: true,
                })
                .responsive.recalc()
        });
    </script>
{% endblock %}