{% extends 'admin/layout.html' %}

{% block head %}
    <title>PUP-ESIS Projects</title>
    <!--Regular Datatables CSS-->
	<link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet">
	<!--Responsive Extension Datatables CSS-->
	<link href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('admin.static', filename='css/table_style.css') }}">  
    <link rel="stylesheet" href="soft-ui-dashboard-tailwind.css" />
    {% endblock %}

{% block content %}
    
    <div class="p-4 sm:ml-64 mt-2">
        <!--Container-->
        <div class="container w-full md:w-4/5 xl:w-3/5  mx-auto px-2">
            <div class="w-full max-w-full">
                <div class="relative flex flex-col min-w-0 break-words bg-white border-0 shadow-soft-xl rounded-2xl bg-clip-border">
                  <div class="table-responsive">
                    <table class="table table-flush text-slate-500" datatable id="datatable-search">
                      <thead class="thead-light">
                        <tr>
                            <th data-priority="1">Name</th>
                            <th data-priority="2">Location</th>
                            <th data-priority="3">Status</th>
                            <th data-priority="4">Start Date</th>
                            <th data-priority="5">End Date</th>
                            <th data-priority="6">Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="font-normal leading-normal text-sm">Tiger Nixon</td>
                          <td class="font-normal leading-normal text-sm">System Architect</td>
                          <td class="font-normal leading-normal text-sm">Edinburgh</td>
                          <td class="font-normal leading-normal text-sm">61</td>
                          <td class="font-normal leading-normal text-sm">$320,800</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            <!--Card-->
            <div id='recipients' class="p-8 mt-6 lg:mt-0 rounded shadow bg-white">
                <div class="flex justify-between items-center">
                    <!--Title-->
                    <h1 class="flex items-center font-sans font-bold break-normal text-indigo-500 px-2 py-4 text-xl md:text-2xl">
                        Extension Projects
                    </h1>
                    <button type="button" data-modal-target="addProjectModal" data-modal-show="addProjectModal" class="flex items-center justify-center text-white bg-blue-600 hover:bg-blue-700 font-medium rounded-lg text-sm px-4 py-2 focus:ring-0 focus:ring-offset-0">
                        <svg class="h-3.5 w-3.5 mr-2" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                            <path clip-rule="evenodd" fill-rule="evenodd" d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" />
                        </svg>
                        Add project
                    </button>
                </div>
                <table id="projects" class="stripe hover" style="width:100%; padding-top: 1em;  padding-bottom: 1em;">
                    <thead>
                        <tr>
                            <th data-priority="1">Name</th>
                            <th data-priority="2">Location</th>
                            <th data-priority="3">Status</th>
                            <th data-priority="4">Start Date</th>
                            <th data-priority="5">End Date</th>
                            <th data-priority="6">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for program in programs %}
                        <tr>
                            <td>{{ program.name }}</td>
                            <td>{{ program.location }}</td>
                            <td>{{ program.status }}</td>
                            <td>{{ program.start_date }}</td>
                            <td>{{ program.end_date }}</td>
                            <td>
                                <a href="#" class="text-green-700">View</a>
                                <a href="#" class="text-blue-700">Edit</a>
                                <a href="#" class="text-red-700">Remove</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!--/Card-->
        </div>
	    <!--/container-->
    </div>
    <!-- Add Project modal -->
    <div id="addProjectModal" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 items-center justify-center hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
        <div class="relative w-full max-w-2xl max-h-full">
            <!-- Modal content -->
            <form action="" method="post" class="relative bg-white rounded-lg shadow">
                {{ form.hidden_tag() }}
                <!-- Modal header -->
                <div class="flex items-start justify-between p-4 border-b rounded-t">
                    <h3 class="text-xl font-semibold text-gray-900">Add Project</h3>
                    <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center" data-modal-hide="addProjectModal">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
                </div>
                <!-- Modal body -->
                <div class="p-6 space-y-6">
                    <div class="grid grid-cols-6 gap-6">
                        <div class="col-span-6 sm:col-span-3">
                            <!-- name -->
                            {{ form.program_name.label(class="block mb-2 text-sm font-medium text-gray-900") }}
                            {{ form.program_name(class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5")}}
                        </div>
                        <div class="col-span-6 sm:col-span-3">
                            <!-- target participant -->
                            {{ form.target_participant.label(class="block mb-2 text-sm font-medium text-gray-900")}}
                            {{ form.target_participant(class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5") }}
                        </div>
                        <div class="col-span-6 sm:col-span-3">
                            <!-- location -->
                            {{ form.location.label(class="block mb-2 text-sm font-medium text-gray-900") }}
                            {{ form.location(class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5")}}
                        </div>
                        <div class="col-span-6 sm:col-span-3">
                            <!-- status -->
                            {{ form.status.label(class="block mb-2 text-sm font-medium text-gray-900") }}
                            {{ form.status(class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5")}}
                        </div>
                        <div class="col-span-6 sm:col-span-3">
                            <!-- start date -->
                            {{ form.start_date.label(class="block mb-2 text-sm font-medium text-gray-900") }}
                            {{ form.start_date(class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5")}}
                        </div>
                        <div class="col-span-6 sm:col-span-3">
                            <!-- end date -->
                            {{ form.end_date.label(class="block mb-2 text-sm font-medium text-gray-900") }}
                            {{ form.end_date(class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5")}}
                        </div>
                        <div class="col-span-6">
                            <!-- description -->
                            {{ form.description.label(class="block mb-2 text-sm font-medium text-gray-900") }}
                            {{ form.description(class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5")}}
                        </div>
                        <div class="col-span-6">
                            <!-- objectives -->
                            {{ form.objectives.label(class="block mb-2 text-sm font-medium text-gray-900") }}
                            {{ form.objectives(class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5")}}
                        </div>
                        <div class="col-span-6">
                            <!-- expected outcome -->
                            {{ form.expected_outcome.label(class="block mb-2 text-sm font-medium text-gray-900") }}
                            {{ form.expected_outcome(class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5")}}
                        </div>
                        <div class="col-span-6">
                            <!-- terms and condition -->
                            {{ form.terms_conditions.label(class="block mb-2 text-sm font-medium text-gray-900") }}
                            {{ form.terms_conditions(class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5")}}
                        </div>
                    </div>
                </div>
                <!-- Modal footer -->
                <div class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b">
                    {{ form.submit(class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center")}}
                </div>
            </form>
        </div>
    </div>
    
    <!-- jQuery -->
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<!--Datatables -->
	<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
	<!-- soft UI -->
    <script src="../path/to/soft-ui-dashboard-tailwind.js"></script>
    <script>
        // $(document).ready(function(){
        //     const url = '';
        //     $('#users').DataTable({
        //         ajax:{
        //             url:url,
        //             dataSrc:''
        //         },
        //         columns:[
        //             {data: "ID"},
        //             {data: "Name"},
        //             {data: "Status"},
        //             {data: "Location"},
        //             {data: "Start Date"},
        //             {data: "End Date"},
        //         ],
        //         responsive: true
        //     }).columns.adjust()
        //     .responsive.recalc();
        // })

        $(document).ready(function() {
        var table = $('#projects').DataTable({
                responsive: true
            })
            .columns.adjust()
            .responsive.recalc()

            var table1 = $('#datatable-search').DataTable({
                responsive: true
            })
            .columns.adjust()
            .responsive.recalc()
        }
        
        );
    </script>
{% endblock %}