{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('auth.static', filename='css/signin_style.css') }}">
    <title>PUPQC-ESIS Login</title>
{% endblock %}

{% block content %}
<div class="container-main">
    <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-3 h-screen">
        <div class="col-span-2 side-image hidden md:block">
            <!------------- empty ------------->
        </div>
        <div class="col-span-1 right flex items-center right">
            <div class="input-box">
                <div class="flex justify-center">
                    <img src="{{ url_for('static', filename='images/PUPLogo.png')}}" alt="" class="mb-4" width="100rem">
                </div>
                <header><strong>PUPQC-ESIS</strong> {{ 'Beneficiary' if current_url_path == url_for('auth.beneficiaryLogin') else 'Student' }} Module</header>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                        <div class="flex items-center p-4 mb-4 text-sm text-red-800 border border-red-300 rounded-lg bg-red-50" role="alert">
                            <svg class="flex-shrink-0 inline w-4 h-4 mr-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                            </svg>
                            <span class="sr-only">Info</span>
                            <div>
                                {{ message }}
                            </div>
                        </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <form id="loginForm" method="POST">
                    {{ form.hidden_tag() }}
                    <div class="input-field">
                        {{ form.email(id="email", class="input focus:ring-0 focus:ring-offset-0 bg-transparent p-0") }}
                        {{ form.email.label(class="label") }}
                    </div> 
                    <div class="input-field">
                        {{ form.password(id="password", class="input focus:ring-0 focus:ring-offset-0 bg-transparent p-0") }}
                        {{ form.password.label(class="label") }}
                    </div> 
                    <div class="input-field">
                        {{ form.submit(class="submit") }}
                    </div> 
                    <div class="signin pb-3">
                        <span>Don't have an account yet? <a href="{{ url_for('auth.beneficiarySignup') if current_url_path == url_for('auth.beneficiaryLogin') else url_for('auth.studentSignup') }}">Register here</a></span>
                    </div>
                </form>
            </div>  
        </div>
    </div>
</div>

{% endblock %}

