{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth/signin_style.css') }}">
    <title>PUPQC-ESIS Login</title>
{% endblock %}

{% block content %}
{% include 'components/toast_notif.html' %}
<div class="container-main">
    <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-3 h-screen">
        <div class="col-span-2 side-image hidden md:block">
            <!------------- empty ------------->
        </div>
        <div class="col-span-1 right flex items-center right">
            <div class="input-box">
                <div class="flex justify-center">
                    <img src="{{ url_for('static', filename='images/PUPLogo.png')}}" alt="" class="mb-4" width="100rem">
                </div>
                {% if current_url_path == url_for('auth.login') %}
                <h1 class="mb-2 text-2xl font-semibold flex justify-center">Hi, PUPian!</h1>
                <small class="mb-2 flex justify-center">Please click or tap your destination</small>
                <a href="{{ url_for('auth.beneficiaryLogin') }}">
                    <div class="flex justify-center  mb-2  p-2 bg-blue-600 text-white">Beneficiary</div>
                </a>
                <a href="{{ url_for('auth.studentLogin') }}">
                    <div class="flex justify-center  mb-2  p-2 bg-yellow-400">Student</div>
                </a>
                <a href="{{ url_for('auth.facultyLogin') }}">
                    <div class="flex justify-center  mb-2  p-2 bg-red-800 text-white">Faculty</div>
                </a>
                {% else %}
                <header><strong>PUPQC-ESIS</strong> {{ current_url_path.split('/')[2] | capitalize }} Module</header>
                <form id="loginForm" method="POST">
                    {{ form.hidden_tag() }}
                    <div class="input-field">
                        {{ form.email(id="email", class="input focus:ring-0 focus:ring-offset-0 bg-transparent p-0") }}
                        {{ form.email.label(class="label") }}
                    </div> 
                    <div class="input-field">
                        {{ form.password(id="password", class="input focus:ring-0 focus:ring-offset-0 bg-transparent p-0") }}
                        {{ form.password.label(class="label") }}
                    </div> 
                    <div class="input-field">
                        {{ form.submit(class="submit") }}
                    </div> 
                </form>
                <div class="my-3 flex justify-center">
                    <a href="{{ url_for('auth.resetPasswordRequest') }}" class="font-light text-xs">Forgot password?</a>
                </div>
                {% if current_url_path != url_for('auth.facultyLogin') %}
                    <div class="signin pb-3">
                        <span>Don't have an account yet? <a href="{{ url_for('auth.beneficiarySignup') if current_url_path == url_for('auth.beneficiaryLogin') else url_for('auth.studentSignup') }}">Register here</a></span>
                    </div>
                {% endif %}
                {% endif %}
            </div>  
        </div>
    </div>
</div>

{% endblock %}

