{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth/signup_style.css') }}">
    <title>PUP-ESIS Signup</title>
    <script src="{{ url_for('static', filename='js/index.js')}}"></script>
{% endblock %}

{% block content %}
<div class="bg-img flex items-center min-h-screen">
    <div class="h-full flex items-center mx-auto">
        <div class="bg-white rounded-md opacity-90 mx-auto overflow-auto">
            <header class="m-0 md:mb-6 md:mt-8 text-xl text-center">Reset Your Password</header>
            <form action="" method="post" class=" md:px-5 mt-2 md:mt-4 max-h-full w-96">
                {{ form.hidden_tag() }}
                <div class="input-field mt-2">
                    {{ form.password(class="input focus:ring-0 focus:ring-offset-0 bg-transparent p-0 mb-2") }}
                    {{ form.password.label(class="label") }}
                    <ol>
                        {% for error in form.password.errors %}
                        <li class="text-red-500 text-sm mb-4 mt-0 p-0">{{ error }}</li>
                        {% endfor %}
                    </ol>
                </div>
                <div class="input-field mt-2">
                    {{ form.password2(class="input focus:ring-0 focus:ring-offset-0 bg-transparent p-0 mb-2") }}
                    {{ form.password2.label(class="label") }}
                    <ol>
                        {% for error in form.password2.errors %}
                        <li class="text-red-500 text-sm mb-4 mt-0 p-0">{{ error }}</li>
                        {% endfor %}
                    </ol>
                </div>
                <div class="input-field mt-2 col-span-3">
                    {{ form.submit(class="submit px-6")}}
                </div>
            </form>
            <div class="signin pb-6">
                <a href="{{ url_for('auth.login') }}">Back to Login</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}