{% extends 'layout.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('auth.static', filename='css/signup_style.css') }}">
    <title>PUP-ESIS Signup</title>
    <script src="{{ url_for('auth.static', filename='js/index.js')}}"></script>
{% endblock %}

{% block content %}
<div class="container-main h-screen min-h-screen">
    <div class="container h-full flex items-center mx-auto">
            <div class="right mx-auto max-h-full overflow-auto">
                        <header class="m-0 md:mb-6 md:mt-8 text-xl text-center">Create account</header>
                        {% with messages = get_flashed_messages() %}
                            {% if messages %}
                            <div class="alert alert-danger rounded-0 py-2 mb-2 mx-4 d-flex align-items-center">
                                <svg class="me-2" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 32 32"><path fill="currentColor" d="M16 2a14 14 0 1 0 14 14A14 14 0 0 0 16 2Zm0 26a12 12 0 1 1 12-12a12 12 0 0 1-12 12Z"/><path fill="currentColor" d="M15 8h2v11h-2zm1 14a1.5 1.5 0 1 0 1.5 1.5A1.5 1.5 0 0 0 16 22z"/></svg>
                                <div>
                                    <span> It looks like something went wrong during account creation. </span>
                                    <ul class="m-0">
                                    {% for message in messages %}
                                        <li>{{ message|replace('[','')|replace(']','')|replace("'",'') }}</li>
                                    {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            {% endif %}
                        {% endwith %}
                        <form action="" method="post" class="grid grid-cols-3 md:px-5 mt-2 md:mt-4 max-h-full">
                            {{ form.hidden_tag() }}
                            <div class="input-field col-span-3 sm:col-span-1">
                                {{ form.first_name(class="input focus:ring-0 focus:ring-offset-0 bg-transparent p-0") }}
                                {{ form.first_name.label(class="label") }}
                            </div> 
                            <div class="input-field col-span-3 sm:col-span-1">
                                {{ form.middle_name(class="md-name-input focus:ring-0 focus:ring-offset-0 bg-transparent p-0", placeholder=" ") }}
                                {{ form.middle_name.label(class="md-name-label") }}
                            </div> 
                            <div class="input-field col-span-3 sm:col-span-1">
                                {{ form.last_name(class="input focus:ring-0 focus:ring-offset-0 bg-transparent p-0") }}
                                {{ form.last_name.label(class="label") }}
                            </div> 
                            <div class="input-field col-span-3 sm:col-span-1">
                                {{ form.contact_details(class="input focus:ring-0 focus:ring-offset-0 bg-transparent p-0") }}
                                {{ form.contact_details.label(class="label") }}
                            </div> 
                            <div class="input-field col-span-3 sm:col-span-1">
                                {{ form.birthdate(class="input focus:ring-0 focus:ring-offset-0 bg-transparent p-0") }}
                                {{ form.birthdate.label(class="label") }}
                            </div> 
                            <div class="input-field col-span-3 sm:col-span-1">
                                <select name="gender" id="gender" class="form-select shadow-none focus:ring-0 focus:ring-offset-0 bg-transparent p-0">
                                {% for option in form.gender %}
                                    {% if loop.first %}
                                        <option value="" disabled selected>Gender</option>
                                    {% endif %}
                                    {{ option }}
                                {% endfor %}
                                </select>
                                {{ form.gender.label(class="gender-label") }}
                            </div> 
                            <div class="input-field col-span-3">
                                {{ form.address(class="input focus:ring-0 focus:ring-offset-0 bg-transparent p-0") }}
                                {{ form.address.label(class="label") }}
                            </div> 
                            <div class="input-field col-span-3">
                                {{ form.email(class="input focus:ring-0 focus:ring-offset-0 bg-transparent p-0") }}
                                {{ form.email.label(class="label") }}
                            </div> 
                            <div class="input-field col-span-3">
                                {{ form.password1(class="input focus:ring-0 focus:ring-offset-0 bg-transparent p-0") }}
                                {{ form.password1.label(class="label") }}
                            </div> 
                            <div class="input-field col-span-3">
                                {{ form.password2(class="input  focus:ring-0 focus:ring-offset-0 bg-transparent p-0") }}
                                {{ form.password2.label(class="label") }}
                            </div> 
                            <div class="input-field col-span-3">
                                {{ form.submit(class="submit")}}
                            </div> 
                        </form>
                        <div class="signin pb-6">
                            <span>Already have an account? <a href="{{ url_for('auth.beneficiaryLogin') }}">Log in here</a></span>
                        </div>
                    </div>
    </div>
</div>
{% endblock %}
