alembic
bcrypt
blinker
click
colorama
Deprecated
dnspython
email-validator
Flask
Flask-Bcrypt
Flask-CKEditor
Flask-Limiter
Flask-Login
Flask-Migrate
Flask-SQLAlchemy
Flask-WTF
greenlet
gunicorn
idna
importlib-resources
itsdangerous
Jinja2
limits
Mako
markdown-it-py
MarkupSafe
mdurl
ordered-set
packaging
psycopg2
psycopg2-binary
Pygments
python-dotenv
rich
SQLAlchemy
typing_extensions
Werkzeug
wrapt
WTForms
