{% extends 'layout.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('auth.static', filename='css/signup_style.css') }}">
    <title>PUP-ESIS Signup</title>
    <script src="{{ url_for('auth.static', filename='js/index.js')}}"></script>
{% endblock %}

{% block content %}
<div class="container-main overflow-x-hidden">
    <div class="row">
        <div class="container main">
            <div class="right">
                <div class="input-box w-100 h-100 py-4">
                    <div class="container h-100">
                        <header class="m-0 mb-4">Create account</header>
                        <form action="" method="post" class="row signup-form px-5">
                            {{ form.hidden_tag() }}
                            <div class="input-field col-md-4">
                                {{ form.first_name(class="input") }}
                                {{ form.first_name.label(class="label") }}
                            </div> 
                            <div class="input-field col-md-4">
                                {{ form.middle_name(class="md-name-input", placeholder=" ") }}
                                {{ form.middle_name.label(class="md-name-label") }}
                            </div> 
                            <div class="input-field col-md-4">
                                {{ form.last_name(class="input") }}
                                {{ form.last_name.label(class="label") }}
                            </div> 
                            <div class="input-field col-md-4">
                                {{ form.contact_details(class="input") }}
                                {{ form.contact_details.label(class="label") }}
                            </div> 
                            <div class="input-field col-md-4">
                                {{ form.birthdate(class="input") }}
                                {{ form.birthdate.label(class="label") }}
                            </div> 
                            <div class="input-field col-md-4">
                                <select name="gender" id="gender" class="form-select shadow-none">
                                {% for option in form.gender %}
                                    {% if loop.first %}
                                        <option value="" disabled selected>Gender</option>
                                    {% endif %}
                                    {{ option }}
                                {% endfor %}
                                </select>
                                {{ form.gender.label(class="gender-label") }}
                            </div> 
                            <div class="input-field col-12">
                                {{ form.address(class="input") }}
                                {{ form.address.label(class="label") }}
                            </div> 
                            <div class="input-field col-12">
                                {{ form.email(class="input") }}
                                {{ form.email.label(class="label") }}
                            </div> 
                            <div class="input-field col-12">
                                {{ form.password1(class="input") }}
                                {{ form.password1.label(class="label") }}
                            </div> 
                            <div class="input-field col-12">
                                {{ form.password2(class="input") }}
                                {{ form.password2.label(class="label") }}
                            </div> 
                            <div class="input-field">
                                <input type="submit" class="submit" value="Sign Up">
                            </div> 
                            <div class="signin py-3">
                                <span>Already have an account? <a href="{{ url_for('auth.participantLogin') }}">Log in here</a></span>
                            </div>
                        </form>
                    </div>
                </div>  
            </div>
        </div>
    </div>
</div>
{% endblock %}
