{% extends 'layout.html' %}

{% block head %}
    <title>PUPQC-EMS Login</title>
    <link rel="stylesheet" href="{{ url_for('auth.static', filename='css/style.css') }}">
{% endblock %} 

{% block body %}
<div class="background-image">
    <div class="overlay">
        <div class="overlay-content">
            <div class="container">
                <div class="col-md-6">
                    <!-- Your login form goes here -->
                    <form>
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" class="form-control" id="username" name="username">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" name="password">
                        </div>
                        <button type="submit" class="btn btn-primary">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}