<nav class="z-50 bg-white border-b border-gray-200 p-0 sm:ml-64">
    <div class="w-screen-xl flex flex-wrap items-center justify-end p-4">
    
        <div class="flex items-center md:order-2 mr-10">
            <button type="button" class="flex mr-3 text-sm rounded-full md:mr-0 focus:ring-4 focus:ring-gray-300" id="user-menu-button" aria-expanded="false" data-dropdown-toggle="user-dropdown" data-dropdown-placement="bottom">
                <span class="sr-only">Open user menu</span>
                <svg class="w-8 h-8 rounded-full" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M12 4a4 4 0 0 1 4 4a4 4 0 0 1-4 4a4 4 0 0 1-4-4a4 4 0 0 1 4-4m0 2a2 2 0 0 0-2 2a2 2 0 0 0 2 2a2 2 0 0 0 2-2a2 2 0 0 0-2-2m0 7c2.67 0 8 1.33 8 4v3H4v-3c0-2.67 5.33-4 8-4m0 1.9c-2.97 0-6.1 1.46-6.1 2.1v1.1h12.2V17c0-.64-3.13-2.1-6.1-2.1Z"/></svg>
            </button>
            <!-- Dropdown menu -->
            <div class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow" id="user-dropdown">
                
                <ul class="py-2" aria-labelledby="user-menu-button">
                    <li>
                        <a href="#" class="block px-4 py-2 text-sm">Profile</a>
                    </li>
                    <li>
                        <a href="#" class="block px-4 py-2 text-sm">Change Password</a>
                    </li>
                    <li>
                        <a href="{{ url_for('admin.logout') }}" class="block px-4 py-2 text-sm">Sign out</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav> 