{% extends 'admin/base.html' %}

{% block head %}
    <title>Extension Programs Budget</title>
    <!--Regular Datatables CSS-->
	<link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet">
	<!--Responsive Extension Datatables CSS-->
	<link href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="sm:ml-64 p-4 mt-16">
        <!--Container-->
        <div class="container w-full flex justify-center md:w-4/5 xl:w-3/5  mx-auto px-2">
            <!-- Card -->
            <div class="p-8 w-fit bg-white border border-gray-200 rounded-lg shadow">
                <h2 class="flex items-center text-2xl font-semibold mb-5">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path fill="currentColor" d="M19 12.998h-6v6h-2v-6H5v-2h6v-6h2v6h6z"/>
                    </svg>
                    Add a new Survey
                </h2>
                {% if activities %}
                {% if questions %}
                <form class="pure-form pure-form-aligned" method="POST">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <fieldset>
                        <div class="flex items-center mb-3">
                            <label>Survey name</label>
                            <input name="name" class="mx-3 p-1 bg-gray-50 border border-gray-300 text-gray-900 rounded" placeholder="Survey name" required>
                            <span class="">* required</span>
                        </div>
                        <div class="flex items-center mb-3">
                            <label>Activity</label>
                            <select class="mx-3 p-1 bg-gray-50 border border-gray-300 text-gray-900 rounded" name="activity" required>
                                <option></option>
                                {% for activity in activities %}
                                <option value="{{activity.ActivityId}}">{{ activity.ActivityName }}</option>
                                {% endfor %}
                            </select>
                            <span class="">* required</span>
                        </div>
                        <br>
                        <div class="flex items-center mb-3">
                            <label>Questions</label>
                            <div class="mx-8">
                                <i>Select the questions you wish to include.</i>
                            </div>
                            <span class="">* required</span>
                        </div>

                        {% for question in questions %}
                        <div class="flex justify-center items-center mb-3">
                            <label></label>
                            <input name="questions" type="checkbox" value="{{ question.id }}"> {{ question.text }} ({% if question.type == 1 %}Text{% else %}MCQ{% endif %}{% if not question.required %} - Optional{% endif %})</input>
                        </div>
                        {% endfor %}

                        <div class="">
                            <button type="submit" name="bt" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2">Create Survey</button>
                       </div>


                    </fieldset>
            </form>
            {%else%}
            <p>There are no questions currently in the pool. Please add a question first.</p>
            {% endif %}
            {%else%}
            <p>No activities available.</p>
            {% endif %}
            </div>
            <!-- /Card -->
        </div>
	    <!--/container-->
    </div>
{% endblock %}

{% block script %}
<script>
    $(document).ready(function() {
        $('select').select2({placeholder: 'Please select an activity...', allowClear: true});
    });
</script>
{% endblock %}