{% extends 'admin/base.html' %}

{% block head %}
    <title>Extension Programs Budget</title>
    <!--Regular Datatables CSS-->
	<link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet">
	<!--Responsive Extension Datatables CSS-->
	<link href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="p-4 bg-white flex ">
    <!-- Breadcrumb -->
    <a href="{{ url_for('programs.surveys' )}}" class="flex items-center text-sm font-medium text-gray-700 hover:text-blue-600">
        <svg class="w-5 h-5 mx-1"aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M13 5H1m0 0 4 4M1 5l4-4"></path>
        </svg>
    </a>
    <nav class="justify-between px-4 py-3 ml-4 text-gray-700 border border-gray-200 rounded-lg sm:flex sm:px-5 bg-gray-50 w-full" aria-label="Breadcrumb">
        <ol class="inline-flex items-center mb-3 space-x-1 md:space-x-3 sm:mb-0">
            <li>
                <div class="flex items-center">
                <a href="{{ url_for('programs.surveys') }}" class="ml-1 text-sm font-medium text-gray-700 hover:text-blue-600 md:ml-2">Surveys</a>
                </div>
            </li>
            <li aria-current="page">
                <div class="flex items-center">
                <svg class="w-3 h-3 mx-1 text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                </svg>
                <span class="ml-1 text-sm font-medium text-gray-700 hover:text-blue-600 md:ml-2">Create Survey</span>
                </div>
            </li>
        </ol>
    </nav>
</div>
        <!--Container-->
        <div class="container w-full flex justify-center mx-auto p-8">
            <!-- Card -->
            <div class="p-8 px-12 w-fit bg-white border border-gray-200 rounded-lg shadow">
                <h2 class="flex items-center text-2xl font-semibold mb-8">
                    <svg class="mr-2" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path fill="currentColor" d="M19 12.998h-6v6h-2v-6H5v-2h6v-6h2v6h6z"/>
                    </svg>
                    Add a new Survey
                </h2>
                {% if activities %}
                {% if questions %}
                <form class="pure-form pure-form-aligned" method="POST">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <fieldset>
                        <div class="grid grid-cols-5 gap-2 items-center mb-3">
                            <label class="col-span-5 sm:col-span-1">Survey name</label>
                            <input name="name" class="col-span-5 sm:col-span-3 p-1 bg-gray-50 border border-gray-300 text-gray-900 rounded" placeholder="Survey name" required>
                            <span class="col-span-5 sm:col-span-1 text-sm text-red-500">* required</span>
                        </div>
                        <div class="grid grid-cols-5 gap-2 items-center mb-3">
                            <label class="col-span-5 sm:col-span-1">Activity</label>
                            <select class="col-span-5 sm:col-span-3 p-1 bg-gray-50 border border-gray-300 text-gray-500 rounded" name="activity" required>
                                <option selected disabled>Please select an activity...</option>
                                {% for activity in activities %}
                                <option value="{{activity.ActivityId}}">{{ activity.ActivityName }}</option>
                                {% endfor %}
                            </select>
                            <span class="col-span-5 sm:col-span-1 text-sm text-red-500">* required</span>
                        </div>
                        <br>
                        <div class="grid grid-cols-5 items-center mb-3">
                            <label class="col-span-5 sm:col-span-1">Questions</label>
                            <div class="col-span-5 sm:col-span-3">
                                <i>Select the questions you wish to include.</i>
                            </div>
                            <span class="col-span-5 sm:col-span-1 text-sm text-red-500">* required</span>
                        </div>

                        {% for question in questions %}
                        <div class="grid grid-cols-5 justify-center items-center mb-3">
                            <label class="col-span-5 sm:col-span-1"></label>
                            <div class="col-span-5 sm:col-span-4">
                                <input name="questions" type="checkbox" value="{{ question.QuestionId }}"> {{ question.Text }} ({% if question.Type == 1 %}Text{% else %}MCQ{% endif %}{% if not question.Required %} - Optional{% endif %})</input>
                            </div>
                        </div>
                        {% endfor %}

                        <div class="">
                            <button type="submit" name="bt" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 my-2">Create Survey</button>
                       </div>
                    </fieldset>
            </form>
            {%else%}
            <p>There are no questions currently in the pool. Please add a question first.</p>
            {% endif %}
            {%else%}
            <p>No activities available.</p>
            {% endif %}
            </div>
            <!-- /Card -->
        </div>
	    <!--/container-->
{% endblock %}

{% block script %}
<script>
    $(document).ready(function() {
        $('select').select2({placeholder: 'Please select an activity...', allowClear: true});
    });
</script>
{% endblock %}