{% extends 'admin/base.html' %}

{% block head %}
    <title>PUPQC-ESIS Announcement</title>
{% endblock %}

{% block content %}
<div class="sm:ml-5 md:mr-10 p-4 ">
    <div class="flex justify-between mb-5 pt-6">
        <span class="text-xl font-bold">Announcement</span>
        <a href="{{ url_for('admin.createAnnouncement') }}" class="flex items-center justify-center text-white bg-blue-600 hover:bg-blue-700 font-medium rounded-lg text-sm  px-4 py-2 focus:ring-0 focus:ring-offset-0">
            <svg class="h-3.5 w-3.5 mr-2" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                <path clip-rule="evenodd" fill-rule="evenodd" d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" />
            </svg>
            Create Announcement
        </a>
    </div>
    
    <div class="flex mb-6">
        <div>
            <span class="text-sm">Program</span>
            <select name="program" id="program" hx-trigger="change" hx-get="/admin/extension-program" hx-target="#extension-program" class="mr-5 w-44 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block p-2.5">
                <option selected disabled></option>
                {% for program in programs %}
                <option value="{{program.Abbreviation}}">{{program.Abbreviation}}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <span class="text-sm">Extension Program</span>
            <select name="extension-program" id="extension-program" hx-trigger="change" hx-get="/admin/project" hx-target="#project" class="mr-5 w-44 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block p-2.5">
            </select>
        </div>
        <div>
            <span class="text-sm">Project</span>
            <select name="project" id="project" hx-trigger="change, load" hx-get="/admin/announcement" hx-target="#myTabContent" class="mr-5 w-44 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block p-2.5">
            </select>
        </div>
    </div>
    <div class="">
        <div class="md:mr-5 bg-white rounded-lg shadow">
            <div class="mb-4 border-b border-gray-200">
                <ul class="flex flex-wrap -mb-px text-sm font-medium text-center" id="myTab"  role="tablist">
                    <li class="mr-2" role="presentation">
                        <button class="inline-block p-4 border-b-2 rounded-t-lg" id="published-tab" type="button" role="tab" aria-controls="published" aria-selected="false">Published</button>
                    </li>
                    <li class="mr-2" role="presentation">
                        <button class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300" id="draft-tab" type="button" role="tab" aria-controls="draft" aria-selected="false">Draft</button>
                    </li>
                </ul>
            </div>
            <div id="myTabContent" class="p-4">
                
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
<script src="https://unpkg.com/htmx.org@1.9.5"></script>
<script>
    $(document).ready(function() {
        $('#published-tab').on('click', function () {
            $('#published').removeClass('hidden').addClass('block');
            $('#draft').removeClass('block').addClass('hidden');
            console.log('hello?')
        });
        $('#draft-tab').on('click', function () {
            $('#draft').removeClass('hidden').addClass('block');
            $('#published').removeClass('block').addClass('hidden');
            console.log('hi?')
        });
    });
</script>
{% endblock %}