{% extends 'admin/base.html' %}

{% block head %}
    <title>Extension Programs Budget</title>
    <!--Regular Datatables CSS-->
	<link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet">
	<!--Responsive Extension Datatables CSS-->
	<link href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/table_style.css') }}">  
{% endblock %}

{% block content %}
        <!--Container-->
        <div class="container w-full md:w-4/5 xl:w-3/5 mx-auto p-6">
            <!--Title-->
            <h1 class="flex items-center font-bold break-normal px-2 py-4 text-xl md:text-2xl">
                Budget Allocation
            </h1>
            <!--Card-->
            <div class="p-8 mt-6 lg:mt-0 rounded shadow bg-white">
                <table id="budget" class="stripe hover" style="width:100%; padding-top: 1em;  padding-bottom: 1em;">
                    <thead>
                        <tr>
                            <th data-priority="1" class="text-left">Extension Program</th>
                            <th data-priority="2" class="text-left">Program</th>
                            <th data-priority="3" class="text-left">Fund Type</th>
                            <th data-priority="4" class="text-left">Proposed Budget</th>
                            <th data-priority="5" class="text-left">Approved Budget</th>
                            <th data-priority="6" class="text-left">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ext_program in ext_programs %}
                        <tr>
                            <td>{{ ext_program.Name }}</td>
                            <td>{{ ext_program.Program.Abbreviation }}</td>
                            <td>{{ ext_program.FundType }}</td>
                            <td class="proposed">{{ ext_program.ProposedBudget }}</td>
                            <td class="approved">{{ ext_program.ApprovedBudget }}</td>
                            <td class="flex"><a href="{{ url_for('programs.programs') }}" class="bg-green-100 text-green-800 text-base font-medium mr-2 px-2.5 py-0.5 rounded">View</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td class="font-bold" colspan="3" style="padding: 0.75rem!important;">Total</td>
                            <td class="font-bold" id="total-proposed" style="padding: 0.75rem!important;"></td>
                            <td class="font-bold" id="total-approved" style="padding: 0.75rem!important;"></td>
                            <td></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <!--/Card-->
        </div>
	    <!--/container-->
{% endblock %}

{% block script %}

    <!-- jQuery -->
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<!--Datatables -->
	<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    <script>
        // $(document).ready(function(){
        //     const url = '';
        //     $('#users').DataTable({
        //         ajax:{
        //             url:url,
        //             dataSrc:''
        //         },
        //         columns:[
        //             {data: "ID"},
        //             {data: "Name"},
        //             {data: "Status"},
        //             {data: "Location"},
        //             {data: "Start Date"},
        //             {data: "End Date"},
        //         ],
        //         responsive: true
        //     }).columns.adjust()
        //     .responsive.recalc();
        // })

        $(document).ready(function() {

        var table = $('#budget').DataTable({
                responsive: true,
            })
            .columns.adjust()
            .responsive.recalc()

        computeTotal();

        table.on('draw', function() {
            computeTotal();
        });
        
        function computeTotal() {
            var float_total_proposed = 0.00
            $(".proposed").each(function( index ) {
                float_total_proposed = float_total_proposed + parseFloat($( this ).text())
                console.log($(this).text())
                console.log(float_total_proposed)
            });
            // Format float_total_proposed to display two decimal places
            float_total_proposed = float_total_proposed.toFixed(2);
            $('#total-proposed').text(float_total_proposed)
    
            var float_total_approved = 0.00
            $(".approved").each(function( index ) {
                float_total_approved = float_total_approved + parseFloat($( this ).text())
                console.log($(this).text())
                console.log(float_total_approved)
            });
            // Format float_total_approved to display two decimal places
            float_total_approved = float_total_approved.toFixed(2);
            $('#total-approved').text(float_total_approved)
        }
        });
    </script>
{% endblock %}