{% extends 'admin/base.html' %}

{% block head %}
    <title>PUPQC Extension Services</title>
    <!--Regular Datatables CSS-->
	<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />
	<!--Responsive Extension Datatables CSS-->
	<link href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin/table_style.css') }}">  
    <style>
        .tree-view ul {
            list-style: none;
        }

        .tree-view ul li{
            position: relative;
        }

        .tree-view ul li::before {
            position: absolute;
            left:-35px;
            top:-16px;
            border-left: 3px solid #d90429;
            border-bottom: 3px solid #d90429;
            content: "";
            width: 35px;
            height: 3.2em;
        }

        .tree-view ul li::after {
            position: absolute;
            left:-35px;
            bottom:0px;
            border-left: 3px solid #d90429;
            content: "";
            width: 35px;
            height: 100%;
        }

        .tree-view ul li:last-child::after,
        .tree-view ul li:last-child::after,
        ul.tree > li:after, ul.tree > li:before {
            display: none;
        }

    </style>
{% endblock %}

{% block content %}
        <!--Container-->
        <div class="container w-full md:w-4/5 xl:w-3/5 mx-auto px-2">
            <div class="flex flex-col md:flex-row justify-between items-center px-3 pb-4">
                <!--Title-->
                <h1 class="flex items-center font-sans break-normal px-2 py-2 text-2xl md:text-2xl">
                    Extension Programs
                </h1>
                <a href="{{ url_for('programs.insertExtensionProgram')}}" class="flex items-center justify-center text-white bg-blue-600 hover:bg-blue-700 font-medium rounded-lg text-sm px-4 py-2 focus:ring-0 focus:ring-offset-0">
                    <svg class="h-3.5 w-3.5 mr-2" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                        <path clip-rule="evenodd" fill-rule="evenodd" d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" />
                    </svg>
                    Add program
                </a>
            </div>
            {% if programs %}
                
                <div class="tree-view bg-white px-3 pb-4 pt-5 rounded-xl shadow-md">
                <ul class="tree">
                    {% for program in programs %}
                    <li>
                        <div id="accordion-collapse" data-accordion="collapse">
                            <h2 id="accordion-collapse-heading-{{ program['ExtensionProgramId'] }}">
                                <div class="flex items-center justify-between w-full p-5 mb-2 font-medium text-left bg-white border border-gray-400  hover:bg-gray-100 rounded-xl">
                                    <div class="flex items-center">
                                        <button class="bg-transparent mr-5" data-accordion-target="#accordion-collapse-body-{{ program['ExtensionProgramId'] }}" aria-expanded="false" aria-controls="accordion-collapse-body-{{ program['ExtensionProgramId'] }}"> 
                                            <svg data-accordion-icon class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 8">
                                                <path stroke="black" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 5.326 5.7a.909.909 0 0 0 1.348 0L13 1"/>
                                            </svg>
                                        </button>
                                        <span>{{ program['Name'] }}</span>
                                    </div>
                                    <div class="flex items-center">
                                        <button data-modal-target="viewProjectModal{{program['ExtensionProgramId']}}" data-modal-show="viewProjectModal{{program['ExtensionProgramId']}}" class="flex items-center font-semibold text-2xl text-blue-600 mr-4">
                                            <iconify-icon icon="ph:eye"></iconify-icon>
                                        </button>
                                        <button data-modal-target="editProjectModal{{program['ExtensionProgramId']}}" data-modal-show="editProjectModal{{program['ExtensionProgramId']}}" class="flex items-center font-semibold text-2xl text-gray-500 mr-4">
                                            <iconify-icon icon="bx:edit"></iconify-icon>
                                        </button>
                                        <button data-modal-target="deleteModal{{ program['ExtensionProgramId'] }}" data-modal-show="deleteModal{{ program['ExtensionProgramId'] }}" class="flex items-center font-semibold text-2xl text-gray-500 mr-4">
                                            <iconify-icon icon="ion:trash-outline"></iconify-icon>
                                        </button>
                                        <button data-modal-target="add-project-{{program['ExtensionProgramId']}}" data-modal-show="add-project-{{program['ExtensionProgramId']}}">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                                <path fill="currentColor" d="M19 12.998h-6v6h-2v-6H5v-2h6v-6h2v6h6z"/>
                                            </svg>
                                        </button>
                                        {% include 'admin/components/edit_ext_program_modal.html' %}
                                        {% include 'admin/components/view_ext_program_modal.html' %}
                                        {% include 'admin/delete_program.html' %}
                                    </div>
                                </div>
                            </h2>
                            <div id="accordion-collapse-body-{{ program.ExtensionProgramId }}" class="hidden" aria-labelledby="accordion-collapse-heading-{{ program.ExtensionProgramId }}">
                                <div class="pb-4 pt-2 pl-16">
                                    <!-- Nested accordion -->
                                    {% if program['Projects'] %}
                                    <ul>
                                        {% for project in program['Projects'] %}
                                        <li>
                                            <div class="mb-4">
                                                <h2>
                                                    <div class="flex items-center  w-full p-5 rounded-xl font-medium text-left bg-white border border-gray-400 hover:bg-gray-100">
                                                        <div class="flex items-center">
                                                            <a href="{{url_for('programs.viewProject', id=project['ProjectId'])}}" class="hover:underline">
                                                                <span>{{ project['Name'] }}</span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </h2>
                                                <div id="accordion-nested-collapse-body-{{ project['ProjectId'] }}" class="hidden" aria-labelledby="accordion-nested-collapse-heading-{{ project['ProjectId'] }}">
                                                    <div class="p-5 border border-b-0 border-gray-200">
                                                        <p class="text-gray-500">{{ project['Rationale'] }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                    {% endif %}
                                    <!-- End: Nested accordion -->
                                </div>
                            </div>
                        </div>
                    </li>
                    {% include 'admin/components/add_project_modal.html' %}
                    {% endfor %}
                </ul>
            {% else %}
                <div class="rounded-md bg-white w-full flex justify-center items-center p-24">
                    No extension programs found.
                </div>
            {% endif %}
            </div>
        </div>
        <!--/container-->
{% endblock %}

{% block script %}
<!-- jQuery -->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<!--Datatables -->
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/fixedcolumns/4.3.0/js/dataTables.fixedColumns.min.js"></script>

<script>
    $(document).ready(function() {
        var table = $('#projects').DataTable({
                responsive: true,
                columnDefs: [
                    { width: 100, targets: 2 },
                    { width: 150, targets: 3 }
                ],
                fixedColumns: true,
            })
            .responsive.recalc()
    });
</script>
<script>
    // JavaScript function to handle form submission
    // set the modal menu element
    const $targetEl = document.getElementById('addProgramModel');
    const modal = new Modal($targetEl);

    document.getElementById("program-form").addEventListener("submit", function (event) {
      event.preventDefault(); // Prevent the default form submission
      const formData = new FormData(this); // Create a FormData object
      modal.hide();
      // Display a loading message
      flashMessage("Inserting extension program...", "info");
        
      // Make an AJAX request to insert the program
      fetch(this.action, {
        method: "POST",
        body: formData,
      })
        .then((response) => response.json())
        .then((data) => {
          if (data.success) {
            // Display a success message
            flashMessage(data.msg, "success");
            // Append the newly added program HTML to the program list
            appendProgramToProgramList(data.program_html);
          } else {
            // Display an error message
            flashMessage(data.msg, "error");
          }
        })
        .catch((error) => {
          // Display an error message
          flashMessage(error.message, "error");
        });
    });
  
    function flashMessage(message, category) {
      // Display the message using your preferred method (e.g., Bootstrap alert)
      // Replace this with your own code to display the message to the user
    }

    function appendProgramToProgramList(programHtml) {
        const programList = document.getElementById("program-list");
        const programElement = document.createElement("div");
        programElement.innerHTML = programHtml;
        programList.appendChild(programElement);
    }
  </script>
{% endblock %}