{% extends 'admin/base.html' %}

{% block head %}
    <title>Extension Programs Budget</title>
    <!--Regular Datatables CSS-->
	<link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet">
	<!--Responsive Extension Datatables CSS-->
	<link href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='css/table_style.css')}}">
{% endblock %}

{% block content %}
        <!--Container-->
        <div class="container w-full md:w-4/5 xl:w-3/5 mx-auto p-8">
            <div class="flex justify-between mb-4">
                <h1 class="flex items-center font-bold break-normal px-2 text-xl sm:text-2xl">
                    Survey Questions
                </h1>
                <a href="{{ url_for('programs.addQuestions') }}" class="text-white bg-red-700 hover:bg-red-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">Add Question</a>
            </div>
            <!--Card-->
            <div class="p-8 my-6 lg:mt-0 rounded shadow bg-white">
                <!--Title-->
                <h1 class="flex items-center font-bold break-normal pb-8 text-red-800 text-xl">
                    Mandatory Question Pool
                </h1>
                <table id="questions" class="stripe hover" style="width:100%; padding-top: 1em;  padding-bottom: 1em;">
                    <thead>
                        <tr>
                            <th data-priority="1" class="text-left">Question</th>
                            <th data-priority="2" class="text-left">Type</th>
                            <th data-priority="3" class="text-left">Responses</th>
                            <th data-priority="4" class="text-left"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for question in mandatory_questions %}
                        <tr>
                            <td>{{ question.Text }}</td>
                            <td>{% if question.Type == 1%}MCQ</td>
                            <td>{% for response in question.responsesList() %} {{ loop.index }}. {{ response }} {{ "// " if not loop.last }} {% endfor %} {% else %}Text</td>
                            <td>-- Free response -- {% endif %}</td>
                            <td>
                                <a href="{{ url_for('programs.deleteQuestion', id=question.QuestionId) }}" class="text-white bg-red-700 hover:bg-red-800 font-medium rounded-md p-2 text-center mt-5" href="{{ url_for('programs.questions') }}">
                                    <iconify-icon icon="ph:trash-bold"></iconify-icon>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!--/Card-->

            <!--Card-->
            <div class="p-8 my-6 lg:mt-0 rounded shadow bg-white">
                <!--Title-->
                <h1 class="flex pb-8 items-center font-bold break-normal text-red-800 text-xl">
                    Optional Question Pool
                </h1>
                <table id="responses" class="stripe hover" style="width:100%; padding-top: 1em;  padding-bottom: 1em;">
                    <thead>
                        <tr>
                            <th data-priority="1" class="text-left">Question</th>
                            <th data-priority="2" class="text-left">Type</th>
                            <th data-priority="3" class="text-left">Responses</th>
                            <th data-priority="4" class="text-left"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for question in optional_questions %}
                        <tr>
                            <td>{{ question.text }}</td>
                            <td>{% if question.Type == 1%}MCQ</td>
                            <td>{% for response in question.responsesList() %} {{ loop.index }}. {{ response }} {{ "// " if not loop.last }} {% endfor %} {% else %}Text</td>
                            <td>-- Free response -- {% endif %}</td>
                            <td>
                                <a href="{{ url_for('programs.deleteQuestion', id=question.QuestionId) }}" class="text-white bg-red-700 hover:bg-red-800 font-medium rounded-md p-2 text-center mt-5" href="{{ url_for('programs.questions') }}">
                                    <iconify-icon icon="ph:trash-bold"></iconify-icon>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!--/Card-->
        </div>
	    <!--/container-->
{% endblock %}

{% block script %}
	<!--Datatables -->
	<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    <script>

        $(document).ready(function() {

        var table = $('#questions').DataTable({
                responsive: true
            })
            .columns.adjust()
            .responsive.recalc()
        var response_table = $('#responses').DataTable({
                responsive: true
            })
            .columns.adjust()
            .responsive.recalc()
        });

    </script>
{% endblock %}