{% extends 'layout.html' %}

{% block head %}
    <title>PUPQC-EMS Login</title>
{% endblock %} 

{% block body %}
    <div class="row">
        <div class="col-md-6">
            <img src="{{ url_for('static', filename='images/bg.jpg')}}" alt="Pup bg" width="100vw">
        </div>
        <div class="col-md-6">
            <a href="{{ url_for('main.index') }}">
                <img alt="PUP" class="img-circle" src="https://cdn.pup.edu.ph/img/symbols/logo88x88.png">
            </a>
            <form method="post">
                <input type="email" name="email" id="email" placeholder="Enter your email" class="my-4"><br>
                <input type="password" name="password" id="password" placeholder="Enter your password">
                <input type="submit" value="Login">
            </form>
        </div>
    </div>
{% endblock %}

