<!DOCTYPE html>

<html lang="en">
    <head>
        <meta name="viewport" content="initial-scale=1, width=device-width">
        {% block head %}
        
        {% endblock %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.css" rel="stylesheet" />
        <link href="https://cdn.pup.edu.ph/img/ico/favicon.ico" rel="icon" type="image/x-icon" />
    </head>
    <body class="bg-gray-50">
        {% if current_user.is_authenticated or not (current_url_path in [url_for('auth.beneficiaryLogin'), url_for('auth.beneficiarySignup'), url_for('auth.studentLogin'), url_for('auth.studentSignup'), url_for('auth.login')]) %}
            {% include 'components/navbar.html' %}
            {% include 'components/toast_notif.html' %}
        {% endif %}
        {% block content %}
        
        {% endblock %}
        
        {% if current_user.is_authenticated or not (current_url_path in [url_for('auth.beneficiaryLogin'), url_for('auth.beneficiarySignup'), url_for('auth.studentLogin'), url_for('auth.studentSignup'), url_for('auth.login')]) %}
            {% include 'components/footer.html'%}
        {% endif %}

        <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>
        {% block script %}
        
        {% endblock %}
    </body>
</html>